<section class="error conatiner mx-auto my-16 text-center">
  <h1 class="text-4xl mb-2">Oops</h1>
  <p class="mb-8">Page Not Found</p>
  <a href="/" class="text-white bg-purple-600 px-4 py-2 rounded mt-8"
    >Go Home</a
  >
</section>
